__pycache__/
.pytest_cache/
.env/
venv/
database.db
.coverage
node_modules
dist
dist-ssr
*.local
.localenv

# Editor directories and files
.vscode/*
.vscode/
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?